@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

body {
  font-family: Poppins;
  /* font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; */
  transition: background-color 300ms ease-in;
}

/* .blockquote {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

#new-quote {
  border-color: transparent;
  background-color: transparent;
  transition: background-color 300ms ease-in;
}
#new-quote:focus {
  box-shadow: none !important;
} */
